@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

$high-rating-color: #9335ff;
$low-rating-color: #e89d40;
$message-count-high: #27aae1;
$message-count-low: #e89d40;
$background-color: #f2f2f2;
$text-color: #999999;

:root {
  --background: #f5f5f5;
  --message-count-high: #27aae1;
  --message-count-low: #e89d40;
} 


body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Comfortaa', sans-serif;
}


@mixin flex-container($direction: row, $justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin grid-layout($columns, $gap: 20px) {
  display: grid;
  grid-template-columns: $columns;
  grid-gap: $gap;
}

.container {
  @include flex-container(column, center,center, nowrap);
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  margin: 40px auto 40px auto;
}

.thread {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  &.expanded {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: none;

    > .message {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  &.collapsed {
    margin-bottom: 40px;
  }

  &__tag {
    position: absolute;
    top: -10px;
    right: 25px;
    background-color: $message-count-high;
    color: #fff;
    padding: 2px 50px;
    border-radius: 15px;
    font-size: 0.75rem;
    z-index: 4;
  }
}

.message {
  position: relative;
  @include grid-layout(75% 25%, 40px);
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  z-index: 3;

  &__content {
     > * {
      margin: 0px;
     }
  }

  &__text {
    font-weight: bold;
    margin: 10px 0px;
  }

  &__team-container {

    > * {
      margin: 0px;
    }
  }
}
