@import './partials/fonts';
@import './partials/variables';
@import './partials/mixins';
@import './partials/placeholders';
@import './partials/media-queries';

:root {
  --background: #f5f5f5;
  --message-count-high: #27aae1;
  --message-count-low: #e89d40;
  --high-rating-color: #9335ff;
  --low-rating-color: #e89d40;
} 


body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}


.container {
  @include flex-container(column, center,center, nowrap);
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  margin: 40px auto 40px auto;
}

.thread {
  width: 100%;
  border-radius: 8px;
  position: relative;
  margin-bottom: 40px;
  @extend %box-shadow;

  &.expanded {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: none;

    > .message {
      @extend %box-shadow;
    }
  }

  &__tag {
    position: absolute;
    top: -10px;
    right: 25px;
    color: #fff;
    padding: 2px 50px;
    border-radius: 15px;
    font-size: 0.75rem;
    z-index: 4;
  }
}

.message {
  position: relative;
  @include grid-layout(75% 25%, 20px);
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  z-index: 3;

  &__content > * {
    @extend %no-margin;
  }

  &__question {
    @extend %base-text;
  }

  &__subject {
    @extend %bold-text;
  }

  &__text {
    @extend %bold-text;
    margin: 10px 0px;
  }

  &__date {
    @extend %base-text;
  }

  &__team {
    @extend %base-text;
  }

  &__team-container {
    text-align: end;
    margin-right: 20px;
  }

  &__team-container > * {
    @extend %no-margin;
  }
}
